{% if metier.name = "logistique" %}
    <h2>{{ metier.name }}</h2>
    <div class="flex">
        <p>{{ metier.content1 }}</p>
        <img src="{{ vich_uploader_asset(logi1) }}" alt="">
    </div>
    <div class="flex">
        <p>{{ metier.content2 }}</p>
        <img src="{{ vich_uploader_asset(logi2) }}" alt="">
    </div>

{% endif %}