
<div class="signaletique-bg">
  <img class="signaletique-bg_img" src="/uploads/images/Bloc/{{ signaletique.backgroud }}" alt="">
  <div class="container">
    <h2 class="size-2 pb-2 uppercase center">{{ signaletique.name }}</h2>
    {{ signaletique.content | raw }}
    {{ signaletique.content2 | raw }}
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
          <!-- Slides -->
          {% for img in slide %}
              <div class="swiper-slide"><img src="/uploads/images/slider/{{img.path}}" alt="{{ img.description }}"></div>
          {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="signaletique-content flex align-c">
      <div class="signaletique-content-left pl-2">
          <img src="/uploads/images/Bloc/{{ signaletique.path }}" alt="{{ signaletique.description }}" width="100%">
      </div>
      <div class="signaletique-content-right pr-2">
          {{ signaletique.content3 | raw }}
          {{ signaletique.content4 | raw }}
          {{ signaletique.content5 | raw }}
      </div>
    </div>
  </div>
</div>
