<div class="container mt-2 mb-2">
  <h2 class="size-2 pb-2 uppercase center">{{ signaletique.name }}</h2>
  <div class="signaletique-head">
    {{ signaletique.content | raw }}
    {{ signaletique.content2 | raw }}
  </div>
  <div class="swiper mySwiper pt-2 pb-4">
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for img in slide %}
            <div class="swiper-slide"><img title="{{img.name}}" src="/uploads/images/slider/{{img.path}}" alt="{{ img.description }}"></div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="signaletique-content flex align-c pt-2">
    <div class="signaletique-content-left">
        <img src="/uploads/images/Bloc/{{ signaletique.path }}" alt="{{ signaletique.description }}" width="100%">
    </div>
    <div class="signaletique-content-right">
        {{ signaletique.content3 | raw }}
        {{ signaletique.content4 | raw }}
        {{ signaletique.content5 | raw }}
    </div>
  </div>
</div>
