{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    <div class="bg-log flex justify-c align-c">
        <div class="container flex justify-c align-c">
            <form method="post" class="login flex column justify-c align-c pt-2 pb-2">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="center size-3 bold mb-1">Acces au panel admin</h1>
                <div class="login-group flex justify-c align-c pl-3 pr-3 pb-2">
                    <label for="inputUsername">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="login-group flex justify-c align-c pl-3 pr-3 pb-2">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="login-btn" type="submit">
                    Connexion
                </button>
            </form>
        </div>
    </div>

{% endblock %}
