{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}

    <section class="container">

        {% for image in images %}

            <h3 class="card-title">{{ image.id }}</h3>
            <img src="{{ image.description }}"
                 alt="Image de {{ image.id }}">
            <h3 class="card-title">{{ image.path }}</h3>
            <h3 class="card-title">{{ image.format }}</h3>

        {% endfor %}
    </section>
{% endblock %}
