{% extends 'base.html.twig' %}

{% block title %}Bloc index{% endblock %}

{% block body %}
    <h1>Bloc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>OrderList</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bloc in blocs %}
            <tr>
                <td>{{ bloc.id }}</td>
                <td>{{ bloc.content }}</td>
                <td>{{ bloc.orderList }}</td>
                <td>
                    <a href="{{ path('bloc_show', {'id': bloc.id}) }}">show</a>
                    <a href="{{ path('bloc_edit', {'id': bloc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bloc_new') }}">Create new</a>
{% endblock %}
