{% extends 'base.html.twig' %}

{% block title %}HomePageNumberKey{% endblock %}

{% block body %}
    <h1>HomePageNumberKey</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_page_number_key.id }}</td>
            </tr>
            <tr>
                <th>ProductNumber</th>
                <td>{{ home_page_number_key.productNumber }}</td>
            </tr>
            <tr>
                <th>StoreNumber</th>
                <td>{{ home_page_number_key.storeNumber }}</td>
            </tr>
            <tr>
                <th>PackageNumber</th>
                <td>{{ home_page_number_key.packageNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home_page_number_key_index') }}">back to list</a>

    <a href="{{ path('home_page_number_key_edit', {'id': home_page_number_key.id}) }}">edit</a>

    {{ include('home_page_number_key/_delete_form.html.twig') }}
{% endblock %}
