{% extends 'base.html.twig' %}

{% block title %}HomePageClient index{% endblock %}

{% block body %}
    <h1>HomePageClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home_page_client in home_page_clients %}
            <tr>
                <td>{{ home_page_client.id }}</td>
                <td>{{ home_page_client.name }}</td>
                <td>{{ home_page_client.link }}</td>
                <td>
                    <a href="{{ path('home_page_client_show', {'id': home_page_client.id}) }}">show</a>
                    <a href="{{ path('home_page_client_edit', {'id': home_page_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home_page_client_new') }}">Create new</a>
{% endblock %}
